html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

header,
h1,
h2, 
p {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Cinzel', serif;
}

body{
    background-image:linear-gradient(to bottom, #fffff1, #b3b1a7);
 
}

/* Header */
h1 {
    border: 8px double rgb(5, 10, 22);
    color: rgb(5, 10, 22);
    background-color: rgb(229, 236, 238);
    font-size: 60px;
    text-align: center;
    padding: .3em;
}
h1::before,
h1::after {
    content: '\23f1';
    padding: .5em;
}

/* layout div */
.layout {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

/* buttonList div */
.buttonList {
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    width: 250px;
    border: 5px solid rgb(5, 10, 22);
    border-radius: 25px;
    background-color: rgb(245, 244, 242);
}

.buttonList h2 {
    color: rgb(5, 10, 22);
    font-size: 30px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

button {
    height: 60px;
    width: 100px;
    margin: 10px 10px auto 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(229, 232, 64);
    padding: 10px;
    border-radius: 15px; 
}

button:hover, button:focus {
    color: rgb(229, 232, 64);
    background-color: black;
}

/* timerDisplay div */
.timerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: auto; 
    min-width: 500px;
    width: calc(100vw - 300px);
    border: 5px solid rgb(5, 10, 22);
    background-color: rgb(250, 242, 230);
    padding: 10px;
    border-radius: 25px;
}

.timerDisplay h2 {
    color: rgb(5, 10, 22);
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

#start {
    height: 80px;
    width: 150px;
    margin: 2vh;
    background-color: limegreen;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    border: black solid 4px;
}

#start:hover, #start:focus{
    color: rgb(50, 205, 50);
    background-color: rgb(79, 82, 80)
}

#resetButton {
    height: 80px;
    width: 150px;
    margin-top: 5vh;
    background-color: rgb(198, 199, 201);
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
    border: black solid 4px; 
}

#resetButton:hover, #resetButton:focus{
    color: rgb(198, 199, 201);
    background-color: black;
}

.timerDisplay {
    min-width: 375px;
    margin: 0;
}

.timerDisplay p {
    margin: 1vh;
    font-size: 1.8em; 
    color: rgb(5, 10, 22);
}

.timerDisplay p.timer {
    font-size: 7em;
    margin: 4vh 0 4vh 0;
}


/* media queries */
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 480px)  {
    h1 {
        font-size: 40px;
    }
    h1::before {
        content: "";
    }
    h1::after {
        padding-right: 0;
    }
    .layout {
        flex-direction: column;

    }
    /* buttonlist div */
    /* hide the buttons in a drop down that is visible when user hovers over the h2 */
    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
    }
  
    ul li:hover {
       background-color: grey;
    }

    
    ul li ul {
        position: absolute;
        width: 50vw;
        display: none;
    }
    
    ul li:hover ul {
        display: block;
    }

    ul li ul li {
        display: block;
    }




    /* ul.dropdown {
        position: absolute;
        display: none;
        z-index: 999;
        left: 0;
    }

    h2.select:hover {
        color: red;

    }

    h2.select:hover ul.dropdown {
        display:block;
    } */

    .timerDisplay {
        max-width: 100vw;
        min-width: none;
    }

} 
